config = {}

// YOUR_EXTERNAL_IP_ADDRESS
config.kodiIp = ''
// YOUR_KODI_PORT
config.kodiPort = ''
// YOUR_KODI_USER_NAME
config.kodiUser = ''
// YOUR_KODI_PASSWORD
config.kodiPassword = ''
// YOUR_CONNECTION_PASSWORD
config.kodiAuthToken = ''
