<!DOCTYPE html>
<html>
  <head>
    <title>Give your Kodi a voice!</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" integrity="sha256-MFTTStFZmJT7CqZBPyRVaJtI2P9ovNBbwmr0/KErfEc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="index.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body class="pure-u-1-3">
    <h1>
      Your relay from IFTTT to your Kodi at home is up and running.
    </h1>
    <p>
      Here you can test if the connection between this relay can actually reach your Kodi at home from the internet. If successful you also can try out all the other routes here too.
    </p>
    <form class="pure-form pure-form-stacked">
      <fieldset>
        <label for="token">
          <b>Your configured access token:</b>
        </label>
        <input name="token" id="token" type="text"
          class="pure-input-1-2" placeholder="mandatory" />

        <label for="token">
          <b>The route you would like to test:</b>
        </label>
        <input name="route" id="route" type="text"
          value="/koditestconnection" class="pure-input-1" />
      </fieldset>
      <button id="execute-btn" type="button" class="pure-button pure-button-primary">
        Execute!
      </button>
    </form>
    <div id="output" class="output"></div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js" integrity="sha256-zs4Ql/EnwyWVY+mTbGS2WIMLdfYGtQOhkeUtOawKZVY=" crossorigin="anonymous"></script>
  <script src="index.js"></script>
</html>